:root {
  --main-bg: rgb(22, 27, 30);
  --dark-bg: rgb(24, 30, 25);
  --primary: rgb(36, 150, 162);
  --secondary: rgb(226, 157, 87);
  --dark-blue: rgb(8, 13, 18);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Jura", sans-serif;
}

.App {
  min-height: 100vh;
  background-color: var(--main-bg);
  color: white;
  overflow-x: hidden;
}

.navpanel {
  min-height: 100px;
  width: 100vw;
  padding: 16px 0;
  background-color: var(--dark-bg);
  display: flex;
  flex-direction: column !important;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-contact a,
.contact-info a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 0px;
  padding: 0;
}

.submenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-top: 1px solid var(--primary);
  padding-top: 8px;
  margin-top: 12px;
}

.prime-btn {
  padding: 6px 16px;
  background-color: var(--primary);
  color: white;
  border: none;
  outline: none;
  border-radius: 2px;
}

.prime-btn:hover {
  box-shadow: 0 0 4px deepskyblue;
  transition: all 0.25s ease-in-out;
}

.submenu-item {
  font-weight: 500;
}

.submenu-item:hover {
  color: var(--secondary);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

/* HERO */

#hero {
  position: relative;
  display: flex;
  padding: 30px 0;
  min-height: 85vh;
  background-image: url('/src/assets/herobg.jpg');
  background-size: cover;
  background-position: center;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: inherit;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 9;
}

.hero-container {
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.hero-info {
  width: 46vw;
  height: 68vh;
  background-color: rgb(24, 28, 30, 0.7);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.application-form {
  background-color: rgb(24, 28, 30, 0.7);
  width: 30vw;
  min-height: 76vh;
  border-radius: 4px;
  box-shadow: 0 0 4px var(--primary);
  padding: 16px;
}

input,
select {
  box-shadow: none !important;
}

.secondary-text {
  color: var(--secondary);
}

.prime-text {
  color: var(--primary);
}

/* FLOW */
.flow {
  min-height: 100vh;
}

.flow-description {
  background-color: var(--dark-blue);
  color: white;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flow-container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.flow-process {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.flow-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  max-width: 220px;
}

.flow-icon {
  color: var(--secondary);
  font-size: 38px;
}


/* ADVANTAGES */
.advantages {
  background-color: var(--dark-blue);
  min-height: 100vh;
}

.advantage-header {
  padding: 24px 0;
  text-align: center;
  background-image: url('/src/assets/image.jpg');
  background-size: cover;
  background-position: center;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.advantage-header h3 {
  box-shadow: 0 0 4px var(--primary);
  padding: 16px 24px 20px;
  background-color: rgb(0, 0, 0, 0.7);
}

.adv-row {
  display: flex;
  justify-content: space-around;
  padding: 32px 0;
}

.adv-item-left,
.adv-item-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adv-img {
  width: 368px;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.adv-row img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.adv-text {
  margin-top: 2rem;
  max-width: 260px;
  text-align: center;
  color: var(--secondary);
}

/* TYPES */
.types {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
}

.type-row {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.type-item {
  max-width: 368px;
  border: 1px solid var(--secondary);
  background-color: var(--dark-blue);
  border-radius: 4px;
  padding: 12px;
}

.type-item:hover {
  background-color: rgb(3, 5, 7);
  box-shadow: 0 0 10px var(--secondary);
  transition: all 0.25s ease-in-out;
}

.type-item img {
  width: 320px;
  height: 190px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
}

.categories {
  min-height: 44vh;
  background-image: url('/src/assets/garage.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 2rem 0;
}

.cat-list {
  z-index: 999999;
  color: var(--secondary);
  background-color: rgb(0, 0, 0, 0.7);
  font-size: 20px;
  padding: 2rem;
  min-width: 320px;
  box-shadow: 0 0 8px var(--primary);
  border-radius: 8px;
}

/* ABOUT */
#about {
  min-height: 70vh;
  padding: 48px 0;
}

.results {
  min-height: 80vh;
  padding: 48px;
}

.res-loop img {
  max-height: 260px;
  width: 100vw;
  object-fit: cover;
}

.requirements {
  padding: 30px;
}

.req-container {
  padding: 32px 0;
  display: flex;
  justify-content: space-around;
}

.req-icon {
  font-size: 50px;
  color: var(--primary);
}

.desktop-info {
  display: flex;
}

.mobile-menu {
  display: none;
}

.req-el {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* WHY US */
.whyus {
  min-height: 100vh;
}

.whyus-wrapper {
  min-height: 75vh;
  background-image: url('/src/assets/whyus.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.reasons-row {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 280px;
  padding: 1rem;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 4px;
  box-shadow: 0 0 8px var(--primary);
}

.reason svg {
  font-size: 40px;
  margin-bottom: 12px;
  color: var(--primary);
}

.company-options {
  display: flex;
  justify-content: space-around;
  padding-top: 32px;
}

.option-block {
  max-width: 368px;
}

.option-icon {
  font-size: 32px;
  color: var(--secondary);
}

.option {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.price-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  margin-top: 48px;
  padding-bottom: 32px;
}

.discount-icon {
  font-size: 160px;
  color: var(--secondary);
}

.price-description {
  max-width: 768px;
  padding: 1rem;
}

/* FAQ */
.faq {
  padding: 32px 0;
  background-color: rgb(0, 0, 0, 0.7);
  min-height: 60vh;
}


.accordion-item {
  background-color: rgb(36, 150, 162, 0.2);
}

.accordion-button {
  background-color: rgb(36, 150, 162, 0.4) !important;
  color: white;
}

.accordion * {
  color: white !important;
  box-shadow: none !important;
}


/* MAP */
.nsomap {
  min-height: 100vh;
  padding-top: 32px;
}

.leaflet-container {
  width: 540px !important;
  height: 320px !important;
  background: black !important;
  border-radius: 4px;
}

.leaflet-control-attribution {
  display: none;
}

.map-image {
  display: flex;
  width: 100%;
  justify-content: center;
}

.map-image svg {
  width: 900px;
  height: 400px;
}

path {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

.places {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  color: var(--secondary);
  padding-bottom: 3rem;
}


.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact {
  background-color: var(--dark-blue);
  min-height: 90vh;
  padding: 32px 0;
}

.contact-info {
  max-width: 350px;
}

.footer {
  padding: 32px 0;
}


@media screen and (max-width: 1048px) {

  .hero-container {
    display: block;
  }

  .hero-info {
    width: 100%;
    margin-bottom: 1rem;
  }

  .application-form {
    width: 100%;
    min-height: 50vh;
    margin-bottom: 2rem;
  }

  .flow-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
  }

  .adv-row,
  .type-row,
  .req-container,
  .reasons-row,
  .company-options,
  .price-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  .price-description {
    text-align: center;
  }

  .map-image svg {
    width: 120vw;
    padding-left: 40px;
  }

  .places {
    font-size: 12px;
    gap: 1rem;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .desktop-info {
    display: none;
    z-index: -1;
    height: 0;
    width: 0;
  }

  .App {
    overflow-y: hidden;
  }

  #logo {
    width: 180px;
  }

  #logo div {
    width: 180px;
    display: flex;
  }

  .nav-contact {
    height: 120px;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 0;
  }

  .footer {}

  .footer-info button,
  .footer-info svg {
    display: none;
  }

}